################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/CSE387*/*/.vs/
/CSE387*/*/*-mac.xcodeproj/
/CSE387*/*/Debug/
/CSE387*/*/Release/
*.*db
