################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/CSE387*/Chapter01/.vs/
/CSE387*/Chapter01/Chapter01-mac.xcodeproj/
/CSE387*/Chapter01/Debug/
/CSE387*/Chapter01/Release/
*.*db
